:root {
    --primary-color: #054a91;
    --secondary-color: #FE7F2D;
    --accent1-color: #00BFB3;
    --accent2-color: #89A1EF;
    --def-margin: 1rem;
    --def-padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.2);
}

/*Header Section */
header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 300px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;   
}


body {
    font-family: 'Rubik', 'Raleway', sans-serif;
}


.logo {
    width: 200px;
}

.title {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    background-color: #FE7F2D;
    align-items: center;
    color: white;
}

.body {
    display: grid;
    grid-template-columns: 60% 40%; 
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

}

.company{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin: var(--def-margin);
    border: var(--border);
}
.form {
    padding: 10px;
    border: var(--border);
    background-color: white;
    margin: var(--def-margin);
    background-color: var(--accent2-color);
}

.form h3, legend, figcaption {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}


.form1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    height: 100px;
    text-align: right;
    align-items: center;
}

.form1 input {
    width: 300px;
    padding: 8px;
}

.form2 {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.form3 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-weight: bold;
    gap: 20px;
}

textarea {
    height: 150px;
}

button {
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: large;
}
iframe {
    width: 300px;
    height: 250px;
}

figure {
    background-color: white;
    border: var(--border);
}
.customers {
    background-color:var(--secondary-color);
    width: 1250px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
}
footer p {
    margin: 0 auto;
}
footer img {
    width: 32px;
    height: auto;
    text-decoration: dashed;
}
footer div {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}