:root {
    --primary-color: #054a91;
    --secondary-color: #FE7F2D;
    --accent1-color: #00BFB3;
    --accent2-color: #89A1EF;
    --def-margin: 1rem;
    --def-padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.2);
}

/*Header Section */
header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;   
}


body {
    font-family: 'Rubik', 'Raleway';
}

.logo {
    width: 200px;
}

.hero div {
    width: 700px;
    position: relative;
}

.hero .bg {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 { 
    position: absolute;
    max-width: 100%;
    font-size: 60px;
    top: 400px;
    right: 450px;
    color: white;
}

.hero article {
    padding: 1rem;
    background-color: var(--primary-color);
    width: 900px;
    top: 600px;
    left: 200px;
    position: absolute;
    color: white;
}


.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

aside {
    grid-row: 1/3;
    background-color: var(--secondary-color);
    color: white;
    width: 69%;
    text-align: center;
}
.homepage img {
    width: 300px;
    height: 200px;
}

form {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    color: white;
}

form fieldset {
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: right;
    align-items: center;
    height: 200px;
}
fieldset input {
    width: 300px;
    padding: 3px;
}
fieldset legend {
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    grid-column: 1/3;
    background-color: var(--secondary-color);
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: large;
}

.friday {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin: 1rem;
    padding: 2rem;
    opacity: 0.9;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
}
footer p {
    margin: 0 auto;
}
footer img {
    width: 32px;
    height: auto;
    text-decoration: dashed;
}
footer div {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

