* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: darkslategrey;
    color: var(--white-font);
}


:root {
    --theme-color: #0000AF;
    --border: 1px solid rgba(0, 0, 0, 0.2);
    --default-padding: 1rem;
    --white-font : #FFFFFF;
}

nav {
    background-color: var(--theme-color);
    padding: var(--default-padding);
}

nav a {
    color: var(--white-font);
    display: block;
    padding: 10px;
}

h1 {
    color: var(--theme-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border); 
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 110px;
}
footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
}

a {
    color: #FFFFFF;
}