* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: darkslategrey;
    color: var(--white-font);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

:root {
    --theme-color: #0000AF;
    --border: 1px solid rgba(0, 0, 0, 0.2);
    --default-padding: 1rem;
    --white-font : #FFFFFF;
}


nav {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: var(--theme-color);
    padding: var(--default-padding);
    align-items: center;
}

nav a {
    display: block;
    color: var(--white-font);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--theme-color);
    padding-bottom: 5px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border); 
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 2rem;
}

main h1 {
    border-bottom: 2px solid darkblue;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    padding-top: 50px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    align-content: center;
    
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 110px;
}
header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
a {
    color: #FFFFFF;
}
